.project-outer-wrapper {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    
}

.project-wrapper {
    display: flex; /* or inline-flex */
    align-items: flex-start;
    margin-left: 13%;
}

.project-card {
    display: flex;
    margin: 10px;
    width: 20%;
    color: white;
    
}

.project-logo {
    width: 60px;
    height: 60px;
}

.project-header-title {
    margin-left: 25px;
    line-height: 3;
    color: white;
}

.project-label {
    margin: 20px;
    width: 35%;
    color: white;
}

.project-team-wrapper {
    width: 20%;
    color: white;
}

.project-team-header {
    margin: 10px;
}

.team-member-profile-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.team-member-card {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    color: white;
}

.social-media-wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 13%;
}

.social-media-card {
    margin: 10px;
    width: 15%;
    min-height: 250px;
    text-align: center;
    color: white;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.actions-wrapper {
    display: flex;
    align-items: flex-start;
    height: 52%;
    margin-left: 13%;
}


.actions-card {
    margin-top: 10px;
    margin-left: 1%;
    width: 12%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.actions-card-selected {
    margin-top: 10px;
    margin-left: 1%;
    width: 48%;
    height: 300px;
    text-align: center;
    color: blue;
    background-color: white;
}

.audit-card-selected-wrapper {
    margin-top: 30px;
}

.audit-text-input {
    margin-left: 20px;
}

.audit-button {
    float: right;
    margin-top: -55px;
    margin-right: 90px;
}

.updates-share-wrapper {
    display: flex; 
    align-items: flex-start;
    margin: 10px;
    margin-left: 13%;
}

.updates-wrapper {
    width: 60%;
    margin: 10px;
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

.updates-card {
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    color: white;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.share-wrapper {
    margin-left: 6%;
    margin-top: 2%;
    width: 15%;
    color: white;
}

.share-social-media-card {
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.selection-drawer-wrapper {
    margin-top: 20px;
    margin-left: 13%;
    width: 70%;
    color: white;
}

.selection-drawer-paper {
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
    color: white;
}
